html, body, .container {
    height: 100%;
}
*{
    box-sizing:border-box;
}
.main-img {
    width: 200px;
    overflow: hidden;
    height: 200px;
    box-shadow: 1px 1px 11px 2px black;
}

.main-img img {
    width: 250px;
    height: 250px;
    opacity: 0.9;
    margin-left: -46px;
    margin-top: -25px;
}
.sidebar {
    float: right;
    height: 100%;
    border-left: 1px solid black;
    padding: 10px 50px;
}

.main-container{
    padding-bottom: 50px;
}
.main-content{
    height: 100%;
}